
.result-favoris-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}
.result-favoris-item h2 {
    margin: 1rem;
    font-size: medium;
}

.result-favoris img {
    max-width: 250px;
    height: 300px;
    object-fit: fill;
}